* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* nav bar and logo */
.container-top {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left:200px;
    padding-right:200px;
    background-color:#1F2937;
    color:white;
}

.navbar {
    display:flex;
    gap:20px;
}

li {
    list-style:none;
    display:inline-block;
    margin-right:40px;
}

li a {
    color:white;
    font-size:16px;
    font-weight:300px;
    margin:20px;
}

.logo{
    color:#F9FAF8;
    font-size:24px;
    font-weight:600px;
    margin:20px;
}

/* hero text */
.container-midtop {
    display:flex;
    justify-content:center;
    background-color:#1F2937;
    color:white;
    padding-bottom:0px;
    margin:0px;
}

.left {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

#title {
    margin:0;
    font-size:48px;
    font-weight:900px;
    color:#F9FAF8;
}

#subtext {
    margin:0;
    font-size:18px;
    color:#E5E7EB;
}

.container-midtop button {
    font-weight:bold;
    color:white;
    background-color: #3882F6;
    border:2px #3882F6;
    border-radius:5px;
    width:80px;
    padding:5px;
}

button:hover {
    transition:0.3s;
    background-color:rgb(34, 69, 126);
}

.right {
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    margin-left:50px;
}

/* some random info */
.container-mid {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:2%;
}

.title-mid  {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:justify;
    margin-top:4%;
    font-size:36px;
    color:#1F2937;
    font-weight:900px;
}

.row-images {
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.figcaption {
    display:block;
}

.row {
    width:165px;
    height:165px;
    border-radius:15px;
}

/* quote */

.container-midlow {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#E5E7EB;
    color:#1F2937;
}

.quote {
    font-size:36px;
    font-weight:300px;
    font-style:italic;
}

.author {
    align-self:flex-end;
    margin-right:500px;
}

/* call to action */
.container-low {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    width:90%;
    padding:15px;
    border-radius:15px;
}

.container-cta {
    display:flex;
    flex-direction:row;
    align-self:center;
    background-color: #3882F6;
    color:white;
    border-radius:5px;
    padding:20px;
    padding-left:80px;
    box-shadow:5px 5px 10px #0f2952;
    letter-spacing:.5px;
    width:40%
}

.container-low button {
    font-weight:bold;
    color:white;
    background-color: #3882F6;
    border:2px white solid;
    border-radius:5px;
    width:80px;
    padding:5px;
    
}

.container-low button:hover {
    transition:0.3s;
    background-color:rgb(34, 69, 126);
}

/* footer */
.footer {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:15px;
    color:white;
    background-color:#1F2937;
}
